@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.custom-search .ant-input {
  background: transparent !important;
  border-radius: 8px !important;
}

.user-hover:hover {
  background: rgba(0, 0, 0, 0.025);
}

@media (max-width: 575px) {
  .custom-search .ant-input-affix-wrapper {
    padding: 0 8px !important;
  }
}

.logo {
  text-align: center;
  cursor: pointer;
  height: 32px;
  margin: 16px;
  font-weight: 300 !important;
  font-size: 1.5rem !important;
  letter-spacing: 3px;
}

.logo a {
  color: #fff !important;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-divider-horizontal {
  margin: 12px 0;
}

.site-card-border-less-wrapper {
  padding: 20px;
  background: #f6f6f6;
}

.rbc-btn-group .rbc-active {
  background: #999 !important;
}

.rbc-event,
.rbc-active,
.rbc-event-content {
  box-shadow: none;
  color: white;
  /* border: 0 !important; */
}

.delivered-session {
  background: #118603 !important;
  color: white !important;
  opacity: 0.7;
  border-radius: 0 !important;
  font-size: 12px;
}

.pending-session {
  background: #1890ff !important;
  color: white !important;
  border-radius: 0 !important;
  font-size: 12px;
}

.cancelled-session {
  background: #ee5b5b !important;
  color: white !important;
  border-radius: 0 !important;
  font-size: 12px;
}

.rct-sidebar-row {
  border-left: solid 1px #ccc;
}

.rct-outer {
  border-right: solid 1px #ccc;
}

.lesser-col {
  padding: 0 !important;
}

#__next {
  height: 100%;
}

.login-page,
.set-password-page,
.set-password-page .ant-row,
.login-page .ant-row {
  height: 100%;
}

.auth-side {
  background: url('../../public/help-side.jpg');
  height: 100%;
  background-position: center center;
  background-size: cover;
  opacity: 0.6;
}

.auth-side-text {
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;

  padding: 100px;
  padding-top: 250px;
}

.auth-side-text h1,
.auth-side-text h3 {
  color: #fff;
  margin: 0px;
  margin-top: 20px !important;
  font-weight: bolder;
}

.auth-side-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c5c5c5 !important;
}

.login-form-forgot {
  float: right;
}

.ant-col-rtl .login-form-forgot {
  float: left;
}

.login-form-button {
  width: 100%;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group-title {
  color: #666;
  font-weight: bold;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item-group {
  border-bottom: 1px solid #f6f6f6;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item {
  padding-left: 16px;
}

.certain-category-search-dropdown .ant-select-dropdown-menu-item.show-all {
  text-align: center;
  cursor: default;
}

.certain-category-search-dropdown .ant-select-dropdown-menu {
  max-height: 300px;
}

.topbar__search-input {
  background: #f6f6f6;
}

.topbar__search-input:focus-within {
  background: white;
}

.topbar__search-input input {
  background: none;
}

.topbar__search-input input:focus {
  background: white;
}

.react-calendar-timeline .rct-calendar-header {
  border-bottom: 0 !important;
}

.react-calendar-timeline .rct-header-root {
  background: #fff !important;
  border-bottom: 0;
}

.react-calendar-timeline .rct-dateHeader-primary {
  color: #000 !important;
}

.rct-header-root:first-child {
  border: solid 1px #ccc !important;
  border-right: 0;
  margin-right: -2px;
}

.shadowed-box {
  box-shadow: 0 0 5px #ddd;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  background: aliceblue;
  border: solid 1px rgba(105, 193, 245, 0.5);
}

.shadowed-box:hover {
  box-shadow: 0 0 9px #ccc;
}

.shadowed-box .ant-card-head-title {
  padding: 10px;
}

.TasksTable .ant-table-cell.lesser-col {
  padding: 0 !important;
}

.Description_List .ant-descriptions-item-label {
  width: 18% !important;
}

.Description_List .ant-descriptions-item-content {
  width: 32% !important;
}

.Datasources a {
  font-size: 18px !important;
}

.dashboard .nivo-chart {
  height: 30vh;
  transition: 0.3s;
}

.thin {
  font-weight: normal !important;
}

.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 4px 11px;
}

.data-view label {
  font-weight: 600;
}

.rbc-btn {
  color: inherit;
  font: inherit;
  margin: 0;
}

button.rbc-btn {
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled].rbc-btn {
  cursor: not-allowed;
}

button.rbc-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.rbc-calendar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.rbc-calendar *,
.rbc-calendar *:before,
.rbc-calendar *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.rbc-abs-full,
.rbc-row-bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rbc-ellipsis,
.rbc-event-label,
.rbc-row-segment .rbc-event-content,
.rbc-show-more {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.rbc-rtl {
  direction: rtl;
}

.rbc-off-range {
  color: #999999;
}

.rbc-off-range-bg {
  background: #e5e5e5;
}

.rbc-header {
  overflow: hidden;
  -ms-flex: 1 0;
  flex: 1 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 3px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  min-height: 0;
  border-bottom: 1px solid #ddd;
}

.rbc-header+.rbc-header {
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-header+.rbc-header {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-header>a,
.rbc-header>a:active,
.rbc-header>a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-content {
  position: relative;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  z-index: 4;
}

.rbc-today {
  background-color: #eaf6ff;
}

.rbc-toolbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.rbc-toolbar .rbc-toolbar-label {
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 10px;
  text-align: center;
}

.rbc-toolbar button {
  color: #373a3c;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  background-image: none;
  border: 1px solid #ccc;
  padding: 0.375rem 1rem;
  border-radius: 4px;
  line-height: normal;
  white-space: nowrap;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  background-color: #e6e6e6;
  border-color: #adadad;
}

.rbc-toolbar button:active:hover,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active:focus {
  color: #373a3c;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.rbc-toolbar button:focus {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.rbc-toolbar button:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.rbc-btn-group {
  display: inline-block;
  white-space: nowrap;
}

.rbc-btn-group>button:first-child:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-btn-group>button:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-rtl .rbc-btn-group>button:first-child:not(:last-child) {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-rtl .rbc-btn-group>button:last-child:not(:first-child) {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-btn-group>button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.rbc-btn-group button+button {
  margin-left: -1px;
}

.rbc-rtl .rbc-btn-group button+button {
  margin-left: 0;
  margin-right: -1px;
}

.rbc-btn-group+.rbc-btn-group,
.rbc-btn-group+button {
  margin-left: 10px;
}

.rbc-event {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  background-color: #3174ad;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.rbc-slot-selecting .rbc-event {
  cursor: inherit;
  pointer-events: none;
}

.rbc-event.rbc-selected {
  background-color: #265985;
}

.rbc-event:focus {
  outline: 5px auto #3b99fc;
}

.rbc-event-label {
  font-size: 80%;
}

.rbc-event-overlaps {
  -webkit-box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
  box-shadow: -1px 1px 5px 0px rgba(51, 51, 51, 0.5);
}

.rbc-event-continues-prior {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rbc-event-continues-after {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-event-continues-earlier {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.rbc-event-continues-later {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rbc-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rbc-row-segment {
  padding: 0 1px 1px 1px;
}

.rbc-selected-cell {
  background-color: rgba(0, 0, 0, 0.1);
}

.rbc-show-more {
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 4;
  font-weight: bold;
  font-size: 85%;
  height: auto;
  line-height: normal;
  white-space: nowrap;
}

.rbc-month-view {
  position: relative;
  border: 1px solid #ddd;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  height: 700px;
}

.rbc-month-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rbc-month-row {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 0;
  flex: 1 0;
  -ms-flex-preferred-size: 0px;
  flex-basis: 0px;
  overflow: hidden;
  height: 100%;
}

.rbc-month-row+.rbc-month-row {
  border-top: 1px solid #ddd;
}

.rbc-date-cell {
  -ms-flex: 1 1;
  flex: 1 1;
  min-width: 0;
  padding-right: 5px;
  text-align: right;
}

.rbc-date-cell.rbc-now {
  font-weight: bold;
}

.rbc-date-cell>a,
.rbc-date-cell>a:active,
.rbc-date-cell>a:visited {
  color: inherit;
  text-decoration: none;
}

.rbc-row-bg {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex: 1 0;
  flex: 1 0;
  overflow: hidden;
}

.rbc-day-bg {
  -ms-flex: 1 0;
  flex: 1 0;
}

.rbc-day-bg+.rbc-day-bg {
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-day-bg+.rbc-day-bg {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-overlay {
  position: absolute;
  z-index: 5;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.rbc-overlay>*+* {
  margin-top: 1px;
}

.rbc-overlay-header {
  border-bottom: 1px solid #e5e5e5;
  margin: -10px -10px 5px -10px;
  padding: 2px 10px;
}

.rbc-agenda-view {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 0;
  flex: 1 0;
  overflow: auto;
}

.rbc-agenda-view table.rbc-agenda-table {
  width: 100%;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
}

.rbc-agenda-view table.rbc-agenda-table tbody>tr>td {
  padding: 5px 10px;
  vertical-align: top;
}

.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
  padding-left: 15px;
  padding-right: 15px;
  text-transform: lowercase;
}

.rbc-agenda-view table.rbc-agenda-table tbody>tr>td+td {
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table tbody>tr>td+td {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-agenda-view table.rbc-agenda-table tbody>tr+tr {
  border-top: 1px solid #ddd;
}

.rbc-agenda-view table.rbc-agenda-table thead>tr>th {
  padding: 3px 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.rbc-rtl .rbc-agenda-view table.rbc-agenda-table thead>tr>th {
  text-align: right;
}

.rbc-agenda-time-cell {
  text-transform: lowercase;
}

.rbc-agenda-time-cell .rbc-continues-after:after {
  content: ' »';
}

.rbc-agenda-time-cell .rbc-continues-prior:before {
  content: '« ';
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  white-space: nowrap;
}

.rbc-agenda-event-cell {
  width: 100%;
}

.rbc-time-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.rbc-time-column .rbc-timeslot-group {
  -ms-flex: 1 1;
  flex: 1 1;
}

.rbc-timeslot-group {
  border-bottom: 1px solid #ddd;
  min-height: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}

.rbc-time-gutter,
.rbc-header-gutter {
  -ms-flex: none;
  flex: none;
}

.rbc-label {
  padding: 0 5px;
}

.rbc-day-slot {
  position: relative;
}

.rbc-day-slot .rbc-events-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  margin-right: 10px;
  top: 0;
}

.rbc-day-slot .rbc-events-container.rbc-is-rtl {
  left: 10px;
  right: 0;
}

.rbc-day-slot .rbc-event {
  border: 1px solid #265985;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  min-height: 20px;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  overflow: hidden;
  position: absolute;
}

.rbc-day-slot .rbc-event-label {
  -ms-flex: none;
  flex: none;
  padding-right: 5px;
  width: auto;
}

.rbc-day-slot .rbc-event-content {
  width: 100%;
  -ms-flex: 1 1;
  flex: 1 1;
  word-wrap: break-word;
  line-height: 1;
  height: 100%;
  min-height: 1em;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid #f7f7f7;
}

.rbc-time-view-resources .rbc-time-gutter,
.rbc-time-view-resources .rbc-time-header-gutter {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: white;
  border-right: 1px solid #ddd;
  z-index: 10;
  margin-right: -1px;
}

.rbc-time-view-resources .rbc-time-header {
  overflow: hidden;
}

.rbc-time-view-resources .rbc-time-header-content {
  min-width: auto;
  -ms-flex: 1 0;
  flex: 1 0;
  -ms-flex-preferred-size: 0px;
  flex-basis: 0px;
}

.rbc-time-view-resources .rbc-day-slot {
  min-width: 140px;
}

.rbc-time-view-resources .rbc-header,
.rbc-time-view-resources .rbc-day-bg {
  width: 140px;
  -ms-flex: 1 1;
  flex: 1 1;
  -ms-flex-preferred-size: 0 px;
  flex-basis: 0 px;
}

.rbc-time-header-content+.rbc-time-header-content {
  margin-left: -1px;
}

.rbc-time-slot {
  -ms-flex: 1 0;
  flex: 1 0;
}

.rbc-time-slot.rbc-now {
  font-weight: bold;
}

.rbc-day-header {
  text-align: center;
}

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 75%;
  width: 100%;
  padding: 3px;
}

.rbc-slot-selecting {
  cursor: move;
}

.rbc-time-view {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 1;
  flex: 1 1;
  width: 100%;
  border: 1px solid #ddd;
  min-height: 0;
}

.rbc-time-view .rbc-time-gutter {
  white-space: nowrap;
}

.rbc-time-view .rbc-allday-cell {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  position: relative;
}

.rbc-time-view .rbc-allday-cell+.rbc-allday-cell {
  border-left: 1px solid #ddd;
}

.rbc-time-view .rbc-allday-events {
  position: relative;
  z-index: 4;
}

.rbc-time-view .rbc-row {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 20px;
}

.rbc-time-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rbc-time-header.rbc-overflowing {
  border-right: 1px solid #ddd;
}

.rbc-rtl .rbc-time-header.rbc-overflowing {
  border-right-width: 0;
  border-left: 1px solid #ddd;
}

.rbc-time-header>.rbc-row:first-child {
  border-bottom: 1px solid #ddd;
}

.rbc-time-header>.rbc-row.rbc-row-resource {
  border-bottom: 1px solid #ddd;
}

.rbc-time-header-content {
  -ms-flex: 1 1;
  flex: 1 1;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  -ms-flex-direction: column;
  flex-direction: column;
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-time-header-content {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-time-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0;
  flex: 1 0;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  border-top: 2px solid #ddd;
  overflow-y: auto;
  position: relative;
}

.rbc-time-content>.rbc-time-gutter {
  -ms-flex: none;
  flex: none;
}

.rbc-time-content>*+*>* {
  border-left: 1px solid #ddd;
}

.rbc-rtl .rbc-time-content>*+*>* {
  border-left-width: 0;
  border-right: 1px solid #ddd;
}

.rbc-time-content>.rbc-day-slot {
  width: 100%;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

.rbc-current-time-indicator {
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #74ad31;
  pointer-events: none;
}

.draftEditorClassName {
  border: solid 1px #eee;
  border-top: 0;
  margin-top: -5px;
  min-height: 200px;
  max-height: 300px;
  overflow: auto;
}

.public-DraftEditor-content {
  padding: 0 5px;
}

.rdw-editor-toolbar,
.draftToolbarClassName {
  margin-bottom: 0;
}

.public-DraftStyleDefault-block {
  margin: 5px 0;
}

.rdw-link-modal {
  height: fit-content;
}

.site-drawer-render-in-current-wrapper {
  position: relative;
  height: 700px;

  overflow: auto !important;
  /* background: #fafafa; */
  /* border: 1px solid #ebedf0; */
  border-radius: 2px;
}

.table-row-red {
  background-color: rgb(255, 231, 231);
}

.alerts-card {
  margin-bottom: 20px;
  border: solid 1px red !important;
}

.alerts-card .ant-card-head {
  border-bottom: solid 1px red !important;
  background-color: rgba(255, 0, 0, 0.09);
  color: rgba(182, 0, 0, 0.6);
}

.ant-list-item-meta-title {
  margin-bottom: 0 !important;
}

.ant-timeline.ant-timeline-label,
.ant-timeline-item-label {
  padding-right: 20px;
  padding-left: 20px;
}

.avatar-checkbox .ant-avatar.selected {
  border: solid 2px blue;
}

.ant-avatar-group {
  margin-top: 5px;
}

.ant-avatar-group .ant-avatar {
  cursor: pointer;
}

.ant-avatar-group .ant-avatar:not(:first-child) {
  margin-left: -4px;
}

.ant-checkbox-disabled+span {
  color: #666 !important;
}

input[disabled],
.ant-radio-disabled+span,
.ant-input[disabled],
.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-select-disabled.ant-select-multiple .ant-select-selection-item,
.ant-radio-disabled .ant-radio-inner,
.ant-select-disabled {
  color: rgba(0, 0, 0, 0.75) !important;
}

.ant-input-affix-wrapper-disabled .ant-input-prefix {
  color: rgba(0, 0, 0, 0.75) !important;
}

.rdiv {
  overflow: auto;
  position: relative;
  height: 800px;
  border: solid 1px #ccc;
  border-left: 0;
}

.rtable {
  table-layout: fixed;
  width: 100%;
  max-height: 500px;
  border-collapse: collapse;
}

.rtable td,
.rtable th {
  border: 1px solid #ccc;
  width: 150px;
  vertical-align: top;
}

.rtable th {
  background-color: #efefef;
}

.rtable td:first-child,
.rtable th:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
  background-color: #efefef;
  padding: 10px 0px;
  width: 200px;
}

.rtable thead th {
  position: sticky !important;
  top: 0 !important;
  border-bottom: solid 1px #ccc !important;
}

.rtable th:first-child {
  z-index: 2;
  background-color: #f0f0f0;
}

/* .rtable td:last-child,
.rtable th:last-child {
  position: sticky;
  right: 0;
  z-index: 1;
  background-color: #f0f0f0;
  width: 100px;
} */

.weekend {
  background-color: #f0fcff;
}

.event-container {
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 3px;
  font-size: small;
}

.event-container p {
  padding: 0;
  margin: 0;
}

.event-time {
  font-size: 11px;
  font-weight: 800;
  margin-bottom: 3px;
}

.event-service {
  padding: 1px 3px;
  margin-bottom: 3px;
  border-radius: 4px;
  font-size: smaller;
  font-weight: 500;
}

.event-pending {
  background-color: #d2e8ff;
}

.event-pending .event-service {
  background-color: #a7d3ff;
}

.event-delivered {
  background-color: #ceffeb;
}

.event-delivered .event-service {
  background-color: #b1ffdf;
}

.event-unassigned {
  background-color: #e6e6e6;
}

.event-unassigned .event-service {
  background-color: #c4c4c4;
}

.event-incomplete {
  background-color: #ffe5cd;
}

.event-incomplete .event-service {
  background-color: #fab176;
}

.event-cancelled,
.event-cancelledBilled {
  background-color: #ffd7d7;
}

.event-cancelled .event-service,
.event-cancelledBilled .event-service {
  background-color: #ffafaf;
}

.legend-item {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 7px;
}

.text-center {
  text-align: center;
}

.top-toolbar {
  margin-bottom: 10px;
  display: flex;
}

.leaflet-container {
  width: 100%;
  height: 280px;
}

/* img.leaflet-marker-icon {
  filter: hue-rotate(244deg);
} */

.ant-notification-notice,
.ant-notification-notice-error {
  background-color: black !important;
  border-radius: 8px;
}

.ant-notification-notice-message,
.ant-notification-notice-close {
  color: white !important;
}

.ant-notification-notice-description {
  color: #aaa !important;
}
